ul {
  padding: 0px;
  margin: 0px;
  overflow-y: hidden;
  background-color: rgb(117, 115, 115);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.flex-container {
  display: flex;
  background: rgb(30, 30, 30);
  flex-direction: column;
  justify-content: top;
  overflow: auto;
  width: 100%;
  overflow: auto;
  align-items: center;
  margin: 0;
  padding: 0;
  max-height: 90%;
  height: 90vh;
}

.flex-item {
  word-break: break-word;
  text-align: center;
  width: 100%;
  margin: 0px;
}

.blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.users-list{
  overflow-y: hidden;
  padding: 5px;
  margin:5px
}

.message-sender {
  width: 100%;
  overflow-y: hidden;
  padding: 0;
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.left {
  width: 75%;
}

.right {
  width: 25%;
}


