<div class="container">
  <div class="login">
    <form [formGroup]="form" (ngSubmit)="setNickname()">
      <div>
        <label for="nicknameId">Nickname:
          <input
            [class.error-border]="submitted && form?.status === 'INVALID' || !form?.controls?.nicknameControl.value && submitted"
            formControlName="nicknameControl">
        </label>
      </div>
      <div class="error" *ngIf="submitted && !form?.controls?.nicknameControl.value">
        Nickname is required.
      </div>
      <div class="error" *ngIf="submitted && form?.status === 'INVALID' && form?.controls?.nicknameControl.value">
        Nickname already taken.
      </div>
      <button type="submit">Join</button>
    </form>
  </div>
</div>
